.main-slider-container {
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-heading {
  margin-bottom: 24px;
}

.carousel-container {
  width: 100%;
  position: relative;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.slide-controls {
  list-style-type: none;
}

.slide-control {
  width: 32px;
  height: 32px;
  padding: 8px;
  border: none;
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 76px;
  z-index: 1;
  opacity: 0.6;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  &:hover {
    opacity: 1;
  }
}

.slide-prev-btn {
  left: 1rem;
}

.slide-next-btn {
  right: 1rem;
}

.slide-container {
  width: 100%;
}

.slide-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.image-container {
  overflow: hidden;
  border-radius: 8px;
  width: 288px;
  height: 192px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card-image {
  object-fit: cover;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  max-width: 288px;
  &:hover {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
  }
}

.workout-icon {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem;
  background-color: rgb(228, 230, 231);
  border-radius: 50%;
  overflow: visible;
  transition: 0.3s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  & svg {
    max-width: 20px;
    max-height: 20px;
    color: rgb(42, 41, 41);
  }
}

.card-heading {
  font-size: 1rem;
  line-height: 1.25;
  text-transform: capitalize;
}

.card-link {
  display: inline-block;
  color: rgb(101, 102, 106);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.333;

  & a {
    color: inherit;
    text-transform: capitalize;
  }
}



